# fly.toml app configuration file generated for passportly-landing on 2025-12-03T00:09:03Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'passportly-landing'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
